* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 52.5%; }

.button {
  background: none;
  border-style: none;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in; }
  .button:hover {
    color: #535353; }

.btn-image {
  transition: all .2s ease-in; }
  .btn-image:hover {
    opacity: .75; }

.btn-svg {
  width: 4rem;
  height: 100%;
  fill: #acacac;
  transition: all .2s ease-in; }
  .btn-svg:hover {
    fill: #535353; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", "Arial", serif;
  font-weight: 400;
  display: flex; }

.header__name {
  font-size: 5rem;
  color: #535353; }

.header__title {
  font-size: 2.5rem;
  width: max-content;
  font-weight: 400;
  color: #535353; }

.header__text {
  font-size: 2.5rem;
  margin-top: 10rem;
  color: #535353; }

.header__btn-list {
  display: flex;
  justify-content: space-between;
  margin-top: 14rem;
  align-items: center; }

.header__stack {
  color: #535353;
  margin-top: 3rem;
  line-height: 160%; }

.btn-list__email {
  font-weight: 700;
  font-size: 1.8rem;
  color: #acacac; }

.btn-list__cv {
  font-weight: 700;
  font-size: 2.4rem;
  color: #acacac; }

.btn-list__git img {
  width: 9rem;
  height: 100%;
  opacity: .3; }

.btn-list__linked img {
  width: 3rem;
  height: 100%;
  opacity: .3; }

.header {
  flex-basis: 40%;
  border-right: 1px solid lightgray;
  z-index: 10; }

.header-container {
  margin: 8rem 16rem 8rem 8rem;
  display: flex;
  flex-direction: column; }

.projects {
  z-index: 1;
  flex-basis: 60%;
  width: 100%;
  height: 100vh; }

.projects-wrapper {
  display: flex;
  flex-direction: column; }

.carousel-inner {
  height: 57.5vh;
  position: relative; }

.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 74%;
  margin-left: 6rem; }
  .carousel-controls img {
    width: 5rem;
    height: 100%;
    opacity: .3; }

.projects-title {
  margin: 12.5rem 12rem 4rem 0;
  align-self: flex-end;
  font-weight: 400;
  color: #535353; }

.project {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  left: 8rem;
  transform: translateX(-100%);
  opacity: 0; }
  .project__index {
    color: #acacac;
    font-size: 4rem; }
  .project__name {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 8rem; }
  .project__links-wrapper {
    display: flex;
    flex-basis: 60%;
    justify-content: space-between; }
  .project__link {
    font-size: 2rem; }
    .project__link:hover img {
      transform: translateX(-7px); }
    .project__link:active img {
      transform: translateX(7px); }
    .project__link img {
      transition: transform 0.2s cubic-bezier(0.46, 0.21, 0, 1.63);
      margin-right: 1.5rem;
      width: 5rem; }
  .project__text {
    font-size: 1.8rem;
    margin-top: 2.5rem; }
  .project__stack {
    margin-top: auto;
    margin-bottom: 2rem;
    color: #acacac; }

.project-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1rem; }

.active {
  transform: translateX(0);
  opacity: 1; }

.text-lighter {
  color: #c7c7c7; }
