* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 52.5%;
}

button {
    background: none;
    border-style: none;
    border: none;
    cursor: pointer;
}


body {
    font-size: 1.6rem;
    font-family: $font-primary;
    font-weight: 400;
    display: flex;
}
