* {
    margin: 0;
    padding: 0;
    
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 52.5%;

    @media only screen and (max-width: 1150px){
        font-size: 48.5%;
    }
    @media only screen and (max-width: $bp-medium){
        font-size: 46%;
    }
}

.button {
    background: none;
    border-style: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover {
        color: $color-gray-dark;
    }
}

.btn-image {
    transition: all .2s ease-in;
    &:hover {
        opacity: .75;
    }
}

.btn-svg {
    width: 4rem;
    height: 100%;
    fill: $color-gray-light;
    transition: all .2s ease-in;
    &:hover {
        fill: $color-gray-dark;
    }
}


body {
    font-size: 1.6rem;
    font-family: $font-primary;
    font-weight: 400;
}
