.header {
  &__name {
    font-size: 5rem;
  }
  &__title {
  font-size: 2.5rem;
  width: max-content;
  font-weight: 400;
  }
  &__text {
    font-size: 1.8rem;
    margin-top: 14rem;
  }
  &__btn-list {
    display: flex;
    justify-content: space-between;
    margin-top: 14rem;
    align-items: center;
  }
  &__stack {
    margin-top: 3rem;
  }
}

.btn-list {
  &__email {
    font-weight: 700;
    font-size: 1.8rem;
  }
  &__cv {
    font-weight: 700;
    font-size: 2.4rem;
  }
  &__git img {
    width: 9rem;
    height: 100%;
  } 
  &__linked img {
    width: 3rem;
    height: 100%;
  } 
}