
.header {
  flex-basis: 40%;
  border-right: 1px solid lightgray;
}

.header-container {
  margin: 8rem 16rem 8rem 8rem;
  display: flex;
  flex-direction: column;
}

.main {
  flex-basis: 60%;
  width: 100%;
  height: 100vh;
}
