.carousel-inner {
  height: 57.5vh;
  position: relative;
}
.carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 74%;
  margin-left: 6rem;
  & img {
    width: 5rem;
    height: 100%;
    opacity: .3;
  }
}


.projects-title {
  margin: 12.5rem 12rem 4rem 0;
  align-self: flex-end;
  font-weight: 400;
  color: $color-gray-dark;
}

.project {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  left: 8rem;
  transform: translateX(-100%);
  opacity: 0;

  &--1{
  }
  &--2{
  }
  &--3{
  }
  &--4{
  }
  &--5{
  }
  &--6{
  }
  &--7{
  }
  &--8{
  }

  &__index {
    color: $color-gray-light;
    font-size: 4rem;
  }

  &__name {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 8rem;
  }
  &__links-wrapper {
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
  }

  &__link {
    font-size: 2rem;

    & img {
      margin-right: 1.5rem;
      width: 5rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }

  &__stack {
    margin-top: auto;
    margin-bottom: 2rem;
    color: $color-gray-light;

  }


}

.project-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1rem;
}

.active {
  transform: translateX(0);
  opacity: 1;
}