

// FONT VARIABLES

$font-primary: 'Montserrat', 'Arial', serif;


// COLORS

$color-gray-dark: #535353;
$color-gray-light: #acacac;
$color-gray-xlight: #c7c7c7;


// RESPONSIVE BREAKPOINTS
$bp-largest-1: 96.875em; // 1550px
$bp-largest: 78.125em;   // 1250px
$bp-large: 62.5em;   // 1000px
$bp-medium: 46.875em;    // 750px;
$bp-small: 41.875em;    // 670px;
$bp-xsmall: 22em;


