

// FONT VARIABLES

$font-primary: 'Martel', serif;
$font-secondary: 'Martel Sans', sans-serif;


// COLORS

$color-primary-1: #FBFBFB;
$color-primary-2: #e5e5e5;
$color-primary-3: #5f4f4f;

$color-blue-1: #1a2669;
$color-blue-2: #060c28;

$color-pink-1: #ca676d;

$color-black: #000000;


// RESPONSIVE BREAKPOINTS
$bp-largest-1: 96.875em; // 1550px
$bp-largest: 78.125em;   // 1250px
$bp-large: 62.5em;   // 1000px
$bp-medium: 46.875em;    // 750px;
$bp-small: 41.875em;    // 670px;


