.footer {
    background-image: linear-gradient(rgba(#1A2669, .2), rgba(#1A2669, .2)) ,url(../img/hero-2x-min.png);
    background-size: 100%;
    background-position: 0 95%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    &__text {
        font-size: 1.4rem;
        letter-spacing: 40%;
    }
}