.header {
    grid-column: 1 /-1;
    grid-row: 1/2;
    z-index: 2;
}

.test {
    grid-column: 1 / -1;
    grid-row: 1/2;
    background-color: #090B34;
    z-index: 1;
}

.hero {
    background-image: linear-gradient(rgba(#1A2669, .2), rgba(#1A2669, .2)) ,url(../img/hero-small.jpg);
    background-size: 100%;
    background-position: 0 100%;
    height: 105vh;   
    background-repeat: no-repeat;

    @media only screen and (max-width: 90em) {
        background-size: 100%;
        background-position: 0 100%;
        background-image: linear-gradient(rgba(#1A2669, .2), rgba(#1A2669, .2)) ,url(../img/hero-small.jpg);
    }
    @media only screen and (max-width: 66.25em) {
        background-size: 106%;
        background-position: 0 100%;
    }
    
    @media only screen and (max-aspect-ratio: 12 / 16) {
        background-size: 132%;
        background-position: 0 100%;
    }
    @media only screen and (max-aspect-ratio: 5 / 8) {
        background-size: 137%;
        background-position: 0 100%;
    }
    @media only screen and (max-aspect-ratio: 4 / 7) {
        background-size: 181%;
        background-position: 0 100%;
    }
}

.header {
    &__text {
        margin-top: 60vh;
        margin-right: 10vh;
        display: flex;
        flex-direction: column;
  
        align-items: flex-end; 
        padding-left: 20rem;

        @media only screen and (max-width: 510px) {
            padding-left: 0;
            margin-right: 3rem;
            margin-top: 40vh;
        }
    }
}

.scroll-down {
	position: absolute;
	left: 49%;
	bottom: 4rem;
	display: block;
	text-align: center;
	font-size: 20rem;
	text-decoration: none;
    width: 5rem;
    height: 5rem;
    border-bottom: 4px solid rgba($color-primary-1, .2);
    border-right: 4px solid rgba($color-primary-1, .2);
    z-index: 9;

    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
	    -webkit-animation: fade_move_down 5s ease-in-out infinite;
	    -moz-animation:    fade_move_down 5s ease-in-out infinite;
        animation:         fade_move_down 5s ease-in-out infinite;
        
    @media only screen and (max-width: 90em) {
        left: 48.5%;
    }
    @media only screen and (max-width: 66.25em) {
        left: 48%;
    }
    @media only screen and (max-width: 41.875em) {
        left: 47.5%;
    }
    @media only screen and (max-width: 510px) {
        width: 3rem;
        height: 3rem;
        left: 47.5%;
    }
    @media only screen and (max-width: 380px) {
        left: 46.8%;
    }
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


.language-change {
    font-size: 2.5rem;
    text-decoration: none;
    color: $color-primary-1;
}

.language {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}