.main {
    background-color: #e5e5e5;
    z-index: 10;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: minmax(10rem, 1.5fr) minmax(50rem, 4.8fr) minmax(10rem, 1.5fr);

    @media only screen and (max-width: $bp-largest-1) {
        grid-template-columns: minmax(10rem, .8fr) minmax(50rem, 4.5fr) minmax(10rem, .8fr);
    }

    
    @media only screen and (max-width: 510px) {
        grid-template-columns: 4rem minmax(20rem, 3.5fr) 4rem;
    }
    @media only screen and (max-width: 460px) {
        grid-template-columns: 1fr;
    }
}


.work {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 20rem;
    padding-top: 8rem;

    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    @media only screen and (max-width: 900px) {
        grid-template-rows: 1fr 10rem;
    }
}

.my-gallery {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-auto-rows: 45rem;
    justify-content: space-around;
    grid-gap: .8rem;

    @media only screen and (max-width: $bp-small) {
        grid-auto-rows: 37rem;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        grid-gap: .5rem;
    }
    @media only screen and (max-width: 510px) {
        grid-auto-rows: 37rem;
    }
    @media only screen and (max-width: 420px) {
        grid-auto-rows: 20rem;
    }

    figure {
        height: 100%;
        max-width: 110%;
        @media only screen and (max-width: $bp-largest) {
            height: 100%;
            max-width: 100%;
        }
   

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }


    &__img--4 {
        object-position: 6%;
    }
    &__img--17 {
        object-position: 40%;
    }
    &__img--22 {
        object-position: 1%;
    }
}

.info {
    grid-row: 2/ -1;
    grid-column: 2 /3;

    display: grid;
    grid-template-rows: .8fr 2fr .33fr .66fr .33fr 8rem;
    grid-template-columns:  1fr 5fr 1fr 5fr 1fr;
    grid-gap: .5rem;

    font-family: $font-secondary;

    @media only screen and (max-width: 900px) {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr;
        margin: 0 3rem;
    }
    &__text {
        grid-row: 1 / 3;
        grid-column: 2 / 4;

        color: $color-primary-3;
        font-size: 1.7rem;
        text-align: justify;
        z-index: 1;

        @media only screen and (max-width: 66.25em) {
            grid-column: 1 / 4;
        }
        @media only screen and (max-width: 900px) {
            grid-row: auto;
            grid-column: auto;
            justify-items: center;
            justify-content: center;
        }
    }

    &__contact {
        grid-row: 4 / 6;
        grid-column: 1 / 3;
        color: $color-primary-3;
        font-size: 1.7rem;
        letter-spacing: 0.05rem;
        
        
        @media only screen and (max-width: 900px) {
            grid-row: auto;
            grid-column: auto;
        }
    
        &-touch {
            font-size: 1.7rem;
            text-transform: uppercase;
        }
    }
    
    &__img {
        grid-row: 2 / 5;
        grid-column: 3 / 5;
        margin-left: 6rem;
        width: 80%;

        @media only screen and (max-width: 66.25em) {
            grid-column: 4 / 6 ;
        }
        @media only screen and (max-width: 900px) {
            justify-self: center;
            width: 20rem;
            height: 20rem;
            grid-row: 2 / 3;
            grid-column: auto;
            border-radius: 50%;
            object-fit: cover;
            margin: 2.2rem;
        }
        
    }
}

.logo-container {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50rem;

    position: sticky;
    top: 0;

    transition: all .5s ease-in-out;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &__logo {
        height: 4rem;
        margin-top: 10rem;

        @media only screen and (max-width: $bp-large) {
            height: 4.5rem;
        }
    
    }
}